@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Myeongjo:wght@700&family=Noto+Sans+JP:wght@300;700&family=Roboto&family=Roboto+Mono:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.col{
    h2{
        text-align: center;
        padding-top: 48px;
        padding-bottom: 48px;
        font-weight: bold;
        color: black;
    }
}

// Navbar
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #f15fa3;
    opacity: 86%;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-transform: uppercase;
    img{
        border-radius: 30%;
        background-color: #FFFFFF; 
        margin-right: 5px;
        float: left;
    }
}

.logo2{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: auto;
}

nav{
    margin-left: auto;
    li{
        display: inline-block;
        list-style: none;
        padding: 0px;
        button{
            background-color: #f15fa3;
            padding-right: 2rem;
            a{
                font-weight: bold;
                color: black;
            }
        }
        button:hover{
            background-color: #45f3ff;
        }
    }
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    button{
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
}

button{
    background-color: #f15fa3;
    margin-left: 2rem;
    padding: 9px 25px;
    border: none;
    border-radius: 8px;
    transition: all 0.4s ease 0s;
}

button:hover{
    background-color: #45f3ff;
    a{
        font-weight: bold;
    }
}
// Navbar

// Product
.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4e0ea;
    margin: 25px;
}

.slide-img{
    height: 450px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }
}

.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.type{
    display: flex;
    flex-direction: column;
    a{
        color: #222222;
        margin: 5px 0px;
        font-weight: 700;
        letter-spacing: 0.5px;
        padding-right: 8px;
    }
    span{
        color:rgba(26,26,26,0.5);
        font-weight: bold;
    }
}

.price{
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92,95,236,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #252525;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.buy-btn:hover{
    color: #ffffff;
    background-color: #f15fa3;
    transition: all ease 0.3s;
}

.overlay{
    visibility: hidden;
}

.slide-img:hover{
    .overlay{
        visibility: visible;
        animation: fade 0.5s;
    }
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.product{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
// Product

// Accessories
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    img{
        width: 600px;
        height: 750px;
        object-fit: cover;
    }
}

#accessories{
    position: relative;
        img{
            width: 100%;
            height: 750px;
            object-fit: fill;
        }
}
// Accessories

// Between
#ads-st{
    position: relative;
    .image-ads{
        background-color: #fceca9;
        height: 755px;
        img{
            width: 100%;
            height: 750px;
            object-fit: fill;
        }
    }
}

.button-ov-st{
    position: absolute;
    background-color: transparent;
    padding: 9px 25px;
    border: 2px solid black;
    border-radius: 8px;
    transition: all 0.4s ease 0s;
    padding: 10px 20px;
    top: 50%;
    right: 55px;
    a{
        color: black;
        font-weight: bold;
    }
}

.button-ov-st:hover{
    background-color: black;
    a{
        color: white;
    }
}
// Between

// Ads
#ads-nd{
    position: relative;
    .image{
        background-color: #f4e0ea;
        height: 755px;
        img{
            width: 100%;
            height: 800px;
            object-fit: fill;
        }
    }
}

.button-ov-nd{
    position: absolute;
    background-color: transparent;
    padding: 9px 25px;
    border: 2px solid black;
    border-radius: 8px;
    transition: all 0.4s ease 0s;
    padding: 10px 20px;
    top: 50px;
    left: 55px;
    a{
        color: black;
        font-weight: bold;
    }
}

.button-ov-nd:hover{
    background-color: black;
    a{
        color: white;
    }
}
// Ads

// Footer
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }
    p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    li{
        margin: 0 10px;
    }
    a{
        text-decoration: none;
        color: #fff;
        i{
            font-size: 1.1rem;
            transition: color .4s ease;
        }
    }
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }
    span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }
}
// Footer

// About
.bg-image{
    background: url(../image/aboutback.png);
    height: 93.8vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .row{
        .col{
            h2{
                color: white;
                font-size: larger;
                font-weight: bolder;
            }
            p{
                color: black;
                font-size: larger;
                font-weight: bolder;
            }
            p{
                padding: 0px 150px;
                text-align: center;  
            }
            img{
                width: 500px;
                margin-left: 37%;
                padding-bottom: 48px;
            }
            .bg-box{
                background-color: rgba(255, 255, 255, 0.8);
                padding: 20px;
            }
        }
    }
}
// About

// Staf
#staff{
    table{
        width: 1500px;
        margin: auto;
        table-layout: fixed;
        border-spacing: 10px 0;
        th{
            padding: 10px;
        }
        img{
            width: 180px;
            height: 150px;
            border-radius: 50%;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            transition: all 0.3s;
        }
        img:hover{
            transform: scale(1.1);
        }
    }
}
// Staf

// media queries
@media (max-width:991px){
    html{
        font-size: 55%;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}
// media queries